.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1em;
}

.container__button:checked~.menu-list {
    display: block;
}

.container__button,
.container__text {
    display: none;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu-list__title,
.menu-list__item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list__title {
    color: var(--secondary);
    font-weight: 700;
}

.menu-list__link {
    text-decoration: none;
    background: var(--primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.menu-list__item:hover {
    background: var(--primary);
}

.menu-list__link:hover {
    -webkit-text-fill-color: var(--white);
}
