@import url(header.css);
@import url(banner.css);
@import url(form.css);

:root {
    --bgc: #ebecee;
    --white: #ffffff;
    --black: #000000;
    --primary: #fb7c24;
    --secondary: #2b3c8c;
    --font-main: "Exo";
}

body {
    background-color: var(--bgc);
    color: var(--primary);
    font-family: var(--font-main);
    font-style: 16px;
    font-weight: 400;
}

.container__menu {
    width: 24px;
    height: 24px;
    background: url(../img/menu_celularia.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__button:hover~.container__label>.container__menu {
    background-image: url(../img/menu_transparent.svg);
}

.container__button:hover~.container__label {
    background: var(--secondary);
}
