@import url(style/header.css);
@import url(style/banner.css);
@import url(style/swiper.css);
@import url(style/form.css);

:root {
    --bgc: #ebecee;
    --white: #ffffff;
    --black: #000000;
    --blue: #138cd4;
    --blue-dark: #04448c;
    --blue-gradient: linear-gradient(to bottom right, #00ade5, #178cd4, #0182d2);
    --font-main: "Exo";
}

body {
    background-color: var(--bgc);
    color: var(--blue);
    font-family: var(--font-main);
    font-style: 16px;
    font-weight: 400;
}
