.form {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5vw;
    padding: 1em;
}

.fieldset {
    margin-bottom: 2em;
}

.fieldset__number {
    background: var(--blue-gradient);
    color: var(--white);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
}

.fieldset__legend,
.fieldset__title,
.fieldset__option,
.fieldset__checkbox {
    display: block;
}

.fieldset__legend {
    color: var(--blue-gradient);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.fieldset__title {
    margin-bottom: .75em;
    font-weight: 500;
}

.fieldset__input {
    font-family: var(--font-main);
    color: var(--black);
    font-size: 14px;
    width: 50vw;
    height: 2em;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 1em;
    padding: 0 1em;
}

.fieldset__option {
    margin-bottom: 0.75em;
}

.fieldset__checkbox {
    margin-bottom: 0.75em;
}

.fieldset__text-box,
.fieldset__text-box {
    width: 70vw;
    height: 5em;
}

.form__send {
    background: var(--white);
    color: var(--blue-dark);
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid var(--blue-dark);
    border-radius: 5px;
    width: 80vw;
    height: 3em;
}

.form__send:hover {
    background: var(--blue-dark);
    color: var(--white);
}